<h1>All Bookings</h1>

<% @bookings.sort_by(&:date_of_service).each do |booking| %>
  <div class="card mb-3" style="width: 18rem;">
    <div class="card-header">
      <%= "#{booking.date_of_service.strftime('%B %d, %Y at %I:%M %p')}" %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= "Owner: #{booking.first_name} #{booking.last_name}" %></li>
      <li class="list-group-item"><%= "Name of pet: #{booking.animal_name}" %></li>
      <li class="list-group-item"><%= "Type of pet: #{booking.animal_type}" %></li>
      <li class="list-group-item"><%= "Length of appointment: #{booking.hours_requested} hours" %></li>
      <li class="list-group-item"><%= "Cost of service = #{number_to_currency(booking.cost_of_service)}" %></li>
    </ul>
  </div>
<% end %>
